layout {
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane {
                pane
                pane
            }
        }
    }
    ui name="main" {
        pane split_direction="vertical" {
            pane
            pane {
                pane
                pane
            }
        }
    }
}
